<div ng-controller="tableCtrl">
  <div ng-if="data">
    <p class="hint">Hint: Double click on a field to edit it.</p>
    <p class="alert hidden"></p>
    <table id="data-table">
      <tr>
        <th
          ng-repeat="property in headings | relevant"
          ng-click="changeOrder(property)"
        >
          {{ (property | toLabel:sortBy:reverse) }}
        </th>
      </tr>
      <tr
        class="{{selectedRow === item.id ? 'selected' : ''}}"
        ng-repeat="item in data | toArray | orderBy:sortBy:reverse"
        ng-click="selectRow(item.id)"
      >
        <td
          ng-repeat="(key, value) in item | relevant"
          ng-dblclick="selectField(item.id, key)"
        >
          <input
            type="text"
            class="cell"
            ng-if="selected && selected.id === item.id && selected.property === key"
            ng-model="data[item.id][key]"
            ng-model-options="{ updateOn: 'blur' }"
            ng-change="deselectField($event)"
            ng-blur="deselectField($event)"
            focus-on="propSelected"
            is-email
            is-phone
            key="{{key}}"
          />
          <span
            class="cell"
            ng-if="!selected || selected.id !== item.id || selected.property !== key"
            >{{data[item.id][key]}}</span
          >
        </td>
      </tr>
    </table>
  </div>
  <h1 ng-if="!data">Nothing Here</h1>
  <div class="btn-section">
    <button class="table-btn" ng-click="createRow()">New Entry</button>
    <button class="table-btn" ng-click="deleteRow()">Delete Entry</button>
    <button class="table-btn" ng-click="save()">Save Changes</button>
  </div>
</div>
